{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>movieWhereabouts.com</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'asteroid/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'asteroid/css/jumbotron.css' %}" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">movieWHEREabouts</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>movieWHEREabouts is just the place you were looking for!</br>Check out all you want to know about your favourites and don't forget to vote for them!</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'asteroid:index' %}" role="button">What's latest? &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        {% if latest_movies %}
          {% for movie in latest_movies %}
            <div class="col-md-4">
              {% with 'asteroid/images/'|add:movie.img as image_static %}
                <img src="{% static image_static %}" />
              {% endwith %}
              <h2>{{ movie.title }}</h2>
              <p><a class="btn btn-default" href="{% url 'asteroid:detail' movie.id %}" role="button">View details &raquo;</a></p>
            </div>
          {% endfor %}
        {% else %}
          <p>No results are available.</p>
        {% endif %}
      </div>

      <hr>

      <footer>
        <p>&copy; All rights to this website are reserved under the name of <a href="http://facebook.com/shobhit.srivastava91">Shobhit Srivastava</a>. Powered by <a href="http://djangoproject.com/">Django</a>.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'asteroid/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

